// variables
$line-height: 1.6em;
$menu-rows: 6;

// animation
@keyframes dropdown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
// animation
@keyframes dropup {
  from {
    transform: translateY(0%);
  }
  to {

    transform: translateY(-100%);
  }
}
@keyframes pushdown {
  from {
    margin-top: 0;
  }
  to {
    margin-top: $line-height * $menu-rows;
  }
}
@keyframes pushup {
  from {
    margin-top: $line-height * $menu-rows;
  }
  to {
    margin-top: 0;
  }
}

@media all and (max-width: 500px) {
  .flex-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: $line-height;
  }
  .toggle-nav {

    // height: 1.8em;
    color: white;
    cursor: pointer;
    text-align: center;
    background-image: $purple-gradient;
    z-index: 10;
  }
  .nav-menu {
    position: relative;
    transform: translateY(-100%);
    z-index: -1;
  }
  .nav-checkbox:checked ~ .flex-nav .nav-menu {
    animation: dropdown 1s both;
  }

  .nav-checkbox:checked + .top  {
    animation: pushdown 1s both;
  }
  .nav-checkbox ~ .flex-nav .nav-menu {
    animation: dropup 1s both;
  }

  .nav-checkbox + .top  {
    animation: pushup 1s both;
  }
}

// css


.nav-checkbox {
  display: none;
}
